@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800');

/* imports font family from googleapis, websafe. must be first */
body {
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  padding: 7em;
  max-width: 80em;
  margin: auto;
  background-image: url('../images/1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

header h5 {
  padding-right: 2em;
  font-size: 1.2em;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: #414141;
}

h3 {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.2em;
  font-size: 2rem;
  font-weight: 400;
  color: #414141;
}

h4 {
  margin-left: 0.1em;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

table, th, td {
  border: 1px solid black;
}

img {
  max-width: 80em;
}

/* Text box input field */
/* https://www.w3schools.com/css/css_form.asp*/
input[type=text], select, textarea {
  display: block;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
  overflow: scroll;
}

textarea {
  height: 10em;
  resize: vertical;
  overflow: scroll;
}

#contactform-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text]:hover {
  background: rgb(255, 167, 138, 0.1);
}

[type=text]:focus {
  border: 3px solid rgb(219, 147, 123);
}

input[type=search] {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* reset type button */
[type=reset] {
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  /*https://www.w3schools.com/howto/howto_css_round_buttons.asp */
  background-color: rgb(48, 179, 169);
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

[type=reset]:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

/*------- CLASSES -------*/
.content {
  margin: auto;
  width: 90%;
  display: block;
  margin: auto;
}

.center img {
  max-width: 15em;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.styleguide img {
  max-width: 15em;
}

.button, [type=submit] {
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 100%;
  font-size: 0.9em;
  color: white;
  border-radius: 4px;
  background-color: rgb(48, 179, 169);
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

.button:hover, [type=submit]:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

.button:focus, [type=submit]:focus {
  background-color: rgb(240, 135, 94);
}

.button:active, [type=submit]:active {
  background-color: rgb(48, 179, 169);
}

ul {
  color: black;
}

a {
  color: rgb(10, 173, 143);
}

a:hover {
  color: rgb(240, 135, 94);
}

a:focus {
  background-color: rgb(171, 153, 147);
}

#pagetop {
  margin-top: -2em;
  margin-bottom: 1em;
  padding-bottom: 10px;
  padding-top: 2em;
}

#pagetop img {
  width: 23rem;
  padding-bottom: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.navigation a {
  color: rgb(39, 95, 101, 0.7);
  border-color: rgb(195, 232, 229, 0.5);
  text-decoration: none;
}

.navigation a:hover {
  color: rgb(240, 135, 94);
}

a img {
  border: 2px solid rgb(0, 0, 0, 0);
  /*sets invisible border so doesnt move everything around*/
}

a img:hover {
  border: 2px solid rgb(240, 135, 94, 0.5);
  border-radius: 5px;
}

/*IDs*/
#cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-start;
}

#cyantext {
  color: #97F5E7;
}

#greentext {
  color: #0AAD8F;
}

#orangetext {
  color: #F0875E;
}

#browntext {
  color: #AB9993;
}

/*classes*/
.container {
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(164, 245, 238, 0.4);
  background-color: rgb(118, 173, 168,0.2);
  padding: 20px;
}

.styledbox {
  text-align: center;
  background: rgb(255, 255, 255);
  padding: .5em;
  max-width: 500px;
  margin: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-width: 4px;
  border-color: #97F5E7;
  border-radius: 10px;
  border-style: solid;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }

  .container {
    padding: 0em;
    margin: 0em;
  }

  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }

  nav a {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .fa-quote-left {
    padding-right: 8px;
  }

  button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .item {
    width: 80%;
  }

  img {
    width: 80%;
  }
}
