@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800');

/* imports font family from googleapis, websafe. must be first */
/* ---------------------- body ---------------------- */
body {
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  padding-top: 8em;
  max-width: 80em;
  margin: auto;
  background-image: url('../images/background.png');
  background-color: #e7f4f7;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ---------------------- paragraph ---------------------- */
p {
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5em;
}

/* ---------------------- headers ---------------------- */
h1 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.3em;
  margin-top: 0;
  font-weight: 400;
  color: #414141;
}

h2 a {
  text-decoration: none;
}

h2 img {
  width: 5%;
}

h3 {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.2em;
  font-size: 2rem;
  font-weight: 400;
  color: #414141;
}

h4 {
  margin-left: 0.1em;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}

h5 {
  margin-top: 0.3em;
  font-size: 1.5rem;
  font-weight: 600;
  color: #414141;
}

/* for subheader */
h6 {
  margin-top: -1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 300;
  color: #414141;
}

/* ---------------------- images ---------------------- */
img {
  max-width: 80em;
  height: auto;
  object-fit: cover;
}

/* ---------------------- links ---------------------- */
a {
  color: rgb(10, 173, 143);
}

a:hover {
  color: rgb(240, 135, 94);
}

a:focus {
  color: rgb(171, 153, 147);
}

a img {
  border: 2px solid rgb(0, 0, 0, 0);
  /*sets invisible border so doesnt move everything around*/
}

a img:hover {
  border: 2px solid rgb(240, 135, 94, 0.5);
  border-radius: 5px;
}

/* ---------------------- footer ---------------------- */
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(118, 173, 168);
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: white;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

footer .active {
  background-color: rgb(255, 167, 138, 0.5);
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ---------------------- navigation ---------------------- */
#pagetop img {
  width: 23rem;
  height: auto;
  border-width: 0px;
}

#pagetop img:hover {
  border-width: 0px;
}

#pagetop a:hover {
  opacity: 0.5;
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 10em;
}

.navigation a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: rgb(39, 95, 101);
  text-decoration: none;
  font-size: 20px;
}

.navigation a:hover {
  color: rgb(240, 135, 94);
}

/* Add an active class to highlight the current page */
.navigation .active {
  background-color: rgb(255, 167, 138, 0.5);
  border-radius: 5px;
  /* padding: 5px; */
  color: white;
}

/* Hide the link that should open and close the navigation on small screens */
.navigation .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 167, 138, 0.1);
}

/* Add a orange background on navigation links and the dropdown button on hover */
.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 167, 138, 1);
  border-radius: 5px;
  color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navigation (.icon) */
@media screen and (max-width: 800px) {
  .active {
    background-color: rgb(255, 167, 138, 0.7);
    color: white;
  }

  .navigation {
    margin-top: 1em;
    background-color: rgb(39, 95, 101, 0.5);
    overflow: hidden;
  }

  /* hides rest of nav before clicking on menu */
  .navigation a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navigation a.icon {
    /* float: left; */
    text-align: left;
    width: 100%;
    margin: auto;
    display: block;
    font-size: 1em;
  }

  /* Style the links inside the navigation bar */
  .navigation a {
    color: white;
  }

  /* The "responsive" class is added to the navigation with JavaScript when the user clicks on the icon. This class makes the navigation look good on small screens (display the links vertically instead of horizontally) */
  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(195, 232, 229, 0.5);
  }

  .navigation.responsive a.icon {
    border-width: 0px;
    /* position: absolute; */
    height: 10%;
    right: 0;
    top: 0;
  }
}

/* ---------------------- text input field ---------------------- */
input[type=text], select, textarea {
  display: block;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
  overflow: scroll;
}

textarea {
  height: 10em;
  resize: vertical;
  overflow: scroll;
}

input[type=text]:hover {
  background: rgb(255, 167, 138, 0.1);
}

[type=text]:focus {
  border: 3px solid rgb(219, 147, 123);
}

input[type=search] {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* ---------------------- reset button (unused) ---------------------- */
[type=reset] {
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  background-color: rgb(48, 179, 169);
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

[type=reset]:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

/* ---------------------- content ---------------------- */
.content {
  margin: auto;
  padding-top: 2.5em;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* ---------------------- centering ---------------------- */
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------- images ---------------------- */
.medium-image {
  max-width: 15em;
}

.small-image {
  max-width: 6em;
}

/* ---------------------- styleguide ---------------------- */
.styleguide img {
  max-width: 20em;
  max-height: 8em;
}

.styleguide .container {
  margin: 1em;
}

/* ---------------------- container ---------------------- */
.container {
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 5px;
  border-style: solid;
  background-color: rgb(138, 189, 183, 0.2);
  border-color: rgb(111, 209, 198, 0.4);
  padding: 20px;
  color: #1f1f1f;
}

.container-nobackground {
  margin-left: 8em;
  margin-right: 8em;
  margin-top: -1em;
  border-radius: 5px;
  padding: 20px;
  color: #1f1f1f;
}

/* ---------------------- gallery ---------------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
}

.gallery img {
  width: 64em;
  border-width: 4px;
  border-color: transparent;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: .3s transform ease;
}

.gallery img:hover {
  border-width: 4px;
  border-radius: 10px;
  transform: scale(1.05);
  transition: .3s transform ease;
  cursor: pointer;
  border-color: rgb(240, 135, 94, 0.5);
}

.gallery-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-flex figcaption {
  font-weight: 300;
  color: #1f1f1f;
}

.gallery-flex figure {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.gallery-flex img {
  max-width: 30em;
  max-height: 20em;
}

.caption {
  max-width: 25em;
  margin: auto;
  margin-top: 1em;
}

.long-image {
  max-width: 50em;
}

.large-image {
  max-height: 20em;
  max-width: 30em;
}

.styleditem {
  text-align: center;
  padding: .5em;
  margin: .5em;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.styleditem img {
  border-width: 4px;
  border-color: transparent;
  border-radius: 10px;
  max-width: 30em;
  max-height: 15em;
  border-style: solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: .3s transform ease;
}

.styleditem img:hover {
  border-width: 4px;
  border-radius: 10px;
  transform: scale(1.05);
  transition: .3s transform ease;
}

.styleditem p {
  color: #414141;
}

.styleditem h5 {
  margin-bottom: -0.6em;
  padding: 0em;
}

.styled label {
  margin-bottom: 10px;
  display: block;
}

/* ---------------------- buttons ---------------------- */
.button, [type=submit] {
  text-align: center;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 100%;
  font-size: 0.9em;
  color: white;
  border-radius: 4px;
  background-color: rgb(48, 179, 169);
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

.button:hover, [type=submit]:hover {
  background-color: rgb(240, 135, 94);
  color: white;
  cursor: pointer;
}

.button:focus, [type=submit]:focus {
  background-color: rgb(240, 135, 94);
}

.button:active, [type=submit]:active {
  background-color: rgb(48, 179, 169);
}

/* ---------------------- GALLERY LIGHTBOX code taken from https://www.w3schools.com/howto/howto_js_lightbox.asp---------------------- */
.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  height: 1700px;
}

/* The Close Modal by clicking on x */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Modal by clicking anywhere outside */
.closeModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 15%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;
  background-color: rgb(240, 135, 94, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 16px;
  margin-bottom: 2em;
  color: white;
}

.mySlides {
  background-color: white;
}

.modal-icon {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: transparent;
}

img.demo {
  opacity: 0.6;
  background-color: white;
  border: 3px solid;
  border-color: rgb(164, 245, 238);
  border-radius: 5px;
  height: 10em;
  width: 90%;
  margin-top: 1em;
}

.demo:hover {
  opacity: 1;
  cursor: pointer;
  border: 2px solid rgb(240, 135, 94);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.bold {
  text-align: center;
  font-weight: 700;
}

/* ---------------------- responsiveness ---------------------- */
@media only screen and (max-width: 1200px) {
  .content img {
    width: 100%;
  }

  .container, .container-nobackground {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

/* Responsive - when the screen is less than 800px wide*/
@media only screen and (max-width: 800px) {
  body {
    font-size: 20px;
    padding: 0.4em;
    margin: 0em;
  }

  #pagetop img {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }

  .navigation {
    display: block;
  }

  .navigation a {
    display: block;
    font-size: 20px;
    padding: 1rem;
  }

  .container, .container-nobackground {
    padding: 1em;
    margin: 0.1em;
  }

  .content img {
    width: 90%;
  }

  .gallery img {
    border-color: rgb(240, 135, 94, 0.5);
    width: 90%;
  }

  .styleditem {
    padding: 0em;
    margin: 0em;
  }

  .button, [type=submit] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2em;
  }

  input[type=text], select, textarea {
    width: 100%;
    height: 4.5em;
    padding: 10px;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    top: 100px;
  }

  img.demo {
    height: 5em;
    width: 90%;
  }
}
